---
layout: archive
title: "Course Materials"
permalink: /materials/
author_profile: false
---
{% include base_path %}

{% for post in site.materials %}
  {% include archive-single.html %}
{% endfor %}

<div>
  <h2>Texts</h2>
  <p>
    All texts will be provided via links on this site's schedule. Some will link to PDFs that I upload to Google Drive. Other texts will be outbound links to the Web.</p>
</div>

<div>
  <h2>Tools</h2>
  <ul class="texts-list">
    <li>
      Laptop computer (during class; let me know if you do not have access to a laptop). <strong>Be sure to have the means to log into your account vis-a-vis the 2-factor authentication</strong>.</li>
    <li>
      VT-affiliated Google Drive: Used for organizing and sharing work files.</li>
    <li>
      Image / Visual Production: <a href="https://inkscape.org/en/" target="_blank">Inkscape</a> &amp; <a href="https://www.gimp.org/" target="_blank">GIMP</a></li>
    <li>
      Video editing: <a href="http://www.windows-movie-maker.org/">Windows Movie Maker</a> (Windows, built into Windows XP SP2 or greater, Vista or Windows 7: Microsoft Update: Live Essentials) &amp; <a href="https://www.apple.com/imovie/" target="_blank">iMovie</a> (Mac, built into OS 10.x).</li>
    <li>
      Sound editing: <a href="http://www.audacityteam.org/" target="_blank">Audacity</a></li>
    <li>
      Code editor: <a href="https://atom.io/" target="_blank">Atom</a> (Mac/Win), <a href="https://itunes.apple.com/us/app/textwrangler/id404010395?mt=12" target="_blank">TextWrangler</a> (Mac), <a href="https://notepad-plus-plus.org/" target="_blank">Notepad++</a> (Win)</li>
    <li>
      Github <a href="https://github.com/" target="_blank">account</a> &amp; <a href="https://desktop.github.com/" target="_blank">desktop application</a></li>
  </ul>
</div>
